
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0 m-3">
  <div class="container-fluid">
    <h2 class="navbar-brand"  >AUTOMEHANIČARSKA RADIONICA</h2>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
 
    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2 active" aria-current="page" href="/offerslist">Početna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#">Products</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Vozilo
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/vehicle">Dodaj vozilo</a></li>

            <li><a class="dropdown-item" href="/vehiclelist">Sva vozila</a></li>
            <li><a class="dropdown-item" href="/vehicle_typelist">Sve vrste vozila</a></li>
            <li><a class="dropdown-item" href="/vehicle_type">Dodaj vrstu vozila</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Klijenti
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/client">Dodaj klijenta</a></li>

            <li><a class="dropdown-item" href="/clientlist">Svi klijenti</a></li>
            
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ponude
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/offerslist">Sve ponude</a></li>
            <li><a class="dropdown-item" href="/offers">Nova ponuda</a></li>
            <li><a class="dropdown-item" href="#">Contact us</a></li>
          </ul>
        </li>
        <li class="nav-item flare">
          <button mat-raised-button color="dark" (click)="logout()">Odjavi se</button>
    </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container my-5">
    <h1 class="mb-3">Dodaj novog klijenta</h1>
  
  
   <form
   form #form="ngForm"
    (ngSubmit)="addClientType()">
        
      
      <div class="form-group">
        <label for="firstlastname">Ime i prezime klijenta</label>
        <input type="text" class="form-control" id="firstlastname" aria-describedby="emailHelp" placeholder="Unesi ime i prezime klijenta" 
        required name=firstlastname [(ngModel)]="addVehicle_TypeRequest.firstlastname" #firstlastname="ngModel">   
        <div *ngIf="firstlastname.invalid && (firstlastname.dirty || firstlastname.touched)"
       >
    
      <div *ngIf="firstlastname.errors?.['required']" class="alert alert-primary" role="alert">
        Unos imena i prezimena klijenta je <strong>obavezan</strong>.
      </div>
      

      </div> 
      <div class="form-group">
        <label for="phonenumber">Broj telefonaklijenta</label>
        <input type="number" class="form-control" id="phonenumber" aria-describedby="emailHelp" placeholder="Unesi broj telefona klijenta" 
        required name=phonenumber [(ngModel)]="addVehicle_TypeRequest.phonenumber" #phonenumber="ngModel">   
        <div *ngIf="phonenumber.invalid && (phonenumber.dirty || phonenumber.touched)"
       >
    
      <div *ngIf="phonenumber.errors?.['required']" class="alert alert-primary" role="alert">
        Unos broja telefona klijenta je <strong>obavezan</strong>.
      </div>
      

      </div> 
       <div class="form-group">
        <label for="adress">Adresa klijenta</label>
        <input type="text" class="form-control" id="adress" aria-describedby="emailHelp" placeholder="Unesi adresu klijenta" 
        required name=adress [(ngModel)]="addVehicle_TypeRequest.adress" #adress="ngModel">   
        <div *ngIf="adress.invalid && (adress.dirty || adress.touched)"
       >
    
      <div *ngIf="adress.errors?.['required']" class="alert alert-primary" role="alert">
        Unos adrese klijenta je <strong>obavezan</strong>.
      </div>
      

      </div>  
      <div class="form-group">
        <label for="email">Email klijenta</label>
        <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Unesi email klijenta" 
        required name=email [(ngModel)]="addVehicle_TypeRequest.email" #email="ngModel">   
        <div *ngIf="email.invalid && (email.dirty || email.touched)"
       >
    
      <div *ngIf="email.errors?.['required']" class="alert alert-primary" role="alert">
        Unos emaila klijenta je <strong>obavezan</strong>.
      </div>
      

      </div> 
     
        
    
      <button type="submit" class="btn btn-primary mt-2" [disabled]="!form.valid">Spremi</button>
  

  
  </div>